// Amber
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@amber--100: #FE9;
@amber--200: #FC3;
@amber--300: #FB0;
@amber: #FA0;

// Red
// ––––––––––––-–––––––––––––––––––––––––––––––––––––
@red--100: #FCC;
@red--200: #F88;
@red--300: #F65;
@red: #E00;

// Green
// ––––––––––––-–––––––––––––––––––––––––––––––––––––
@green--100: #CEC;
@green--200: #9DA;
@green--300: #6B7;
@green: #0A5;

// Blue
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@blue--100: #BDF;
@blue--200: #6BF;
@blue--300: #29F;
@blue: #07F;

// Gray
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@gray--50: #F5F5F5;
@gray--100: #DDD;
@gray--200: #BBB;
@gray--300: #999;
@gray: #444;

// Black & White
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@black: #000;
@white: #FFF;